<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- Using the fragment template -->
<head th:replace="fragments :: head"></head>

    <body class="container">
    <h1>All Events</h1>
    <nav th:replace="fragments :: navigation-bar"></nav>

            <div class="table-responsive text-nowrap d-flex ">
            <table class="table table-hover table-striped col-8">
                <thead class="table-dark">
                    <tr>
                        <th class="th-lg" scope="col">No.</th>
                        <th class="th-lg" scope="col">EventsName</th>
                        <th class="th-lg" scope="col">EventsDescription</th>
                        <th class="th-lg" scope="col">Email Address</th>
                        <th class="th-lg" scope="col">Type of Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="event : ${events}" >
                        <td th:text="${event.id}"></td>
                        <td th:text="${event.eventName}" ></td>
                        <td th:text="${event.eventDescription}"></td>
                        <td th:text="${event.emailAddress}"></td>
                        <td th:text="${event.typeOfEvents.displayEventType}"></td>
                    </tr>
                </tbody>
            </table>
            </div>
    </body>
</html>